* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-con-learn .header {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("../images/background3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-con-learn .card-container {
  perspective: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#main-con-learn .card {
  width: 650px;
  height: 350px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
  cursor: pointer;
}

#main-con-learn .card.is-flipped {
  transform: rotateY(180deg);
}

#main-con-learn .card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  color: rgb(11, 11, 11);
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  overflow: hidden;
}

#main-con-learn .card-front {
  background-color: rgba(244, 244, 246, 0.8);
}

#main-con-learn .card-back {
  background-color: rgba(243, 244, 247, 0.8);
  transform: rotateY(180deg);
  text-align: center;
  overflow-y: auto;
}

#main-con-learn .button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  width: 300px;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
  pointer-events: none;
}

#main-con-learn .show-buttons {
  opacity: 1;
  pointer-events: auto;
}

#main-con-learn .btn {
  padding: 10px 15px;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#main-con-learn .know-btn {
  background-color: #2ecc71;
}

#main-con-learn .dont-know-btn {
  background-color: #e74c3c;
}

#main-con-learn .btn:hover {
  opacity: 0.9;
}
